[Unit]
Description=Check GitHub for new Telegram bot code every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
